body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
		font-family: Barlow, sans-serif;    
    background-color: #E0EDD4;
}


/* make sure to add background color depending on the mode
background-color: #E0EDD4; -> light mode
background-color: #342D2D; -> dark mode
 */

.Tutorial-Box {
    width: 100%; /* Adjust the width as needed */
    max-width: 800px; /* Set a maximum width */
    margin-left: auto;
    margin-right: auto; /* Center the box horizontally and add some spacing from the top */
    border: 1px solid #ccc; /* Add a border to the box */
    padding: 20px; /* Add padding inside the box */
    background-color: white; /* Set a background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    
}

.terms-box h4 {
    font-size: 24px;
    margin: 0 0 20px; /* Add spacing below the heading */
    text-align: center;
}

.Tutorial-Box p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;  
    margin: 0 0 10px;
 
}

h1 {
    text-align: center;
    font-style: bold;
}

.navbar-brand img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
}

.navbar{
    background-color: #c8d7b9;
}

.Video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}