<!doctype html>
<html lang="en">

<!-- Head Tag -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!--Script: Boostrap bundle including popper js-->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!--Home page and search page CSS-->
  <link rel="stylesheet" href="contact.css">


  <!--Title of page-->
  <title>Contact Page</title>
</head>

<!-- End of Head Tag-->


<!-- Body Code -->
<body>
  <!-- Header -->
  <header>
  <!--- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Eagle Match</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar Content-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Home Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>Home</a>
        </li>

        <!-- Profile Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>Eagle Profile</a>
        </li>

           <!-- Notifications Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
          </svg>Notification</a>
        </li>


        <!-- Settings Link-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
          </svg>Settings</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">Account Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
            <!-- Light/Dark Mode Toggle -->
            <li class="nav-item">
              <button onclick="myFunction()"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
              </svg></button> 
            </li>  
        </ul>
        <!-- End of Navbar Content-->
      </div>
    </div>
  </nav>
<!-- End of Navbar Code-->
</header>
<!-- End of Header -->

  <!-- Main Content of the Page-->
  <main>
  <h1>Contact Us</h1>
  <p class="subtitle">
    Have any additional questions? Noticed a bug? Simply want to get in touch with our awesome team?
  </p>
  <p class="subtitle2">
    Send a message below!
  </p>
  
<!-- Contact Form -->
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
              <div class="card">
                  <div class="card-header">Send Us Your Message! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg></div>
                  <div class="card-body">

                      <!--actual form code here-->
                      <form id="reg-form">
                          <div class="form-group row">
                              <label for="email_address" class="col-md-3 col-form-label cardtext">Name</label>
                              <div class="col-md-7">
                                  <input type="text" autocomplete="off" id="name" class="form-control" placeholder="Your Name">
                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-md-3 col-form-label cardtext">Subject:</label>
                              <div class="col-md-7">
                                <input class="form-control" autocomplete = "off" id="subject" type="text" placeholder="Subject of your Message">
                              </div>
                            </div>
                            <div class="form-group row">
                              <label class="col-md-3 col-form-label cardtext">Message:</label>
                              <div class="col-md-7">
                                <input class="form-control" autocomplete = "off" id="message" type="text" placeholder="Type your message here">
                              </div>
                            </div>

                              <div class="col-md-6 offset-md-4">
                                  <!--submit button here for form-->
                                  <input type="submit" value="Submit" class="btn btn-primary"/>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
      </div>
  </div>

<!-- End of Contact Form-->

</main>
<!-- End of Main Content of the Page-->


  <!-- Footer-->
  <footer class="footer text-lg-start">
    <div class="text-center p-3" style="background-color:#c8d7b9">
        <!--links in footer section-->
        <section class="">
            <div class= "row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
                    <a class="Terms link-dark" href="about.html">About</a> 
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="Privacy Policy link-dark" href="faq.html">FAQ</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="FAQ link-dark" href="terms.html">Terms and Conditions</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="contact-us link-dark" href="contact.html">Contact Us</a>
                </div>
            </div>
        </section>
    </div>
  </footer>

<!-- End of Footer-->

<!-- Javascript Functionalities/Scripts -->
<!-- Light Dark Mode Toggle -->
<script>
  function myFunction() {
      let element = document.body;
      element.classList.toggle("dark");
    }
    </script>
  <!-- End of Light/Dark Mode-->
  
  <!-- End of Javascript Section -->

</body>
<!-- End of Body-->

</html>
