<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!--jquery and js for select2 JQUERY MUST ALWAYS BE ON TOP-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--Select 2 CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">

    <!--Script: Boostrap bundle including popper js-->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

      <!--Script tag for select 2 search bar on home page-->
      <script>
        $(document).ready(function() {
            $('#select-field').select2();
        });
      </script>

    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--Home page and search page CSS-->
    <link rel="stylesheet" href="copiedhome-search.css">

    <!--Title of page-->
    <title>Eagle Match Home Page</title>
</head>

<body>
    <!--Home Page Nav Bar: -->
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">Eagle Match</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

              <!-- Home Link-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
              </svg>Home</a>
            </li>

            <!-- Profile Link-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>Eagle Profile</a>
            </li>

               <!-- Notifications Link-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/notifications"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>Notification</a>
            </li>


            <!-- Settings Link-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
              </svg>Settings</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/settings">User Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/login">Logout</a></li>
              </ul>
            </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>
   

    <!-- Filter by Tags Section-->

    <!-- First Level of Search Filter-->
    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('noise')">Noise Level</button>
        <div class="dropdown-content hide" id="noise">
          <button class="btn sub-btn" onclick="filterSelection('quiet')">Quiet</button>
          <button class="btn sub-btn" onclick="filterSelection('noisy')">Noisy</button>
          <button class="btn sub-btn" onclick="filterSelection('mildnoise')">Mild Noise</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('personality')">Personality</button>
        <div class="dropdown-content hide" id="personality">
          <button class="btn sub-btn" onclick="filterSelection('introvert')">Introvert</button>
          <button class="btn sub-btn" onclick="filterSelection('extrovert')">Extrovert</button>
          <button class="btn sub-btn" onclick="filterSelection('ambivert')">Ambivert</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('time')">Most Time Spent</button>
        <div class="dropdown-content hide" id="time">
          <button class="btn sub-btn" onclick="filterSelection('outside')">Outside</button>
          <button class="btn sub-btn" onclick="filterSelection('inside')">Inside</button>
          <button class="btn sub-btn" onclick="filterSelection('outandin')">Outside & Inside</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('pets')">Pet Preference</button>
        <div class="dropdown-content hide" id="pets">
          <button class="btn sub-btn" onclick="filterSelection('petfriendly')">Pet Friendly</button>
          <button class="btn sub-btn" onclick="filterSelection('specificpets')">Specific Pets Only</button>
          <button class="btn sub-btn" onclick="filterSelection('nopets')">No Pets</button>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('sharing')">Sharing</button>
        <div class="dropdown-content hide" id="sharing">
          <button class="btn sub-btn" onclick="filterSelection('prefersharing')">Prefers to Share</button>
          <button class="btn sub-btn" onclick="filterSelection('doesntmindsharing')">Doesn't Mind Sharing</button>
          <button class="btn sub-btn" onclick="filterSelection('nosharing')">No Sharing</button>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('cleanliness')">Cleanliness</button>
        <div class="dropdown-content hide" id="cleanliness">
          <button class="btn sub-btn" onclick="filterSelection('veryclean')">Very Clean</button>
          <button class="btn sub-btn" onclick="filterSelection('cleanoccasionally')">Clean Occasionally</button>
          <button class="btn sub-btn" onclick="filterSelection('doesntmindamess')">Doesn't Mind a Mess</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('guests')">Guests</button>
        <div class="dropdown-content hide" id="guests">
          <button class="btn sub-btn" onclick="filterSelection('frequentguests')">Frequent Guests</button>
          <button class="btn sub-btn" onclick="filterSelection('occasionalguests')">Occasional Guests</button>
          <button class="btn sub-btn" onclick="filterSelection('noguests')">No Guests</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('wakeup')">Wake-Up</button>
        <div class="dropdown-content hide" id="wakeup">
          <button class="btn sub-btn" onclick="filterSelection('earlymorning')">Early Mornings</button>
          <button class="btn sub-btn" onclick="filterSelection('midday')">Mid-Day</button>
          <button class="btn sub-btn" onclick="filterSelection('nightowl')">Night Owl</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('sleep')">Sleep</button>
        <div class="dropdown-content hide" id="sleep">
          <button class="btn sub-btn" onclick="filterSelection('ninetoten')">9PM-10PM</button>
          <button class="btn sub-btn" onclick="filterSelection('tentomidnight')">10PM-12AM</button>
          <button class="btn sub-btn" onclick="filterSelection('aftermidnight')">After Midnight</button>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('commute')">Commute</button>
        <div class="dropdown-content hide" id="commute">
          <button class="btn sub-btn" onclick="filterSelection('twentymin')">Up to 20 min</button>
          <button class="btn sub-btn" onclick="filterSelection('thirtymin')">Up to 30 min</button>
          <button class="btn sub-btn" onclick="filterSelection('fortymin')">40+ min</button>
        </div>
      </div>

      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('rent')">Rent</button>
        <div class="dropdown-content hide" id="rent">
          <button class="btn sub-btn" onclick="filterSelection('fourhundred')">$400 - $600</button>
          <button class="btn sub-btn" onclick="filterSelection('sixhundred')">$600 - $800</button>
          <button class="btn sub-btn" onclick="filterSelection('eighthundred')">$800 - $1000+</button>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="btn" onclick="toggleSubButtons('move')">Move in by</button>
        <div class="dropdown-content hide" id="move">
          <button class="btn sub-btn" onclick="filterSelection('asap')">ASAP</button>
          <button class="btn sub-btn" onclick="filterSelection('twomon')">2-3 Months</button>
          <button class="btn sub-btn" onclick="filterSelection('sixmon')">6 months</button>
          <button class="btn sub-btn" onclick="filterSelection('oneyear')">1 yr+</button>
        </div>
      </div>
      
      
      
      
      
    </div>
    

    <!-- INCLUDES ALL OF THE PROFILES -->
    <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
    <div class="container">

<!-- Profile 1-->
      <div class="filterDiv  quiet extrovert sixmon">
        <div class="card">
          <div class="card-header">
              Alexis Matias
          </div>
          <div class="card-body text-center">
              <div class="like-button">
                  <button id="like-btn">
                       <img src="images/unliked-button.png" alt="Like" class="like-icon">
                       <div class="like-text">Like</div>
                     </button>
               </div>
          <div class="left">
              <div class="picture">
                  <img src="images/Umaruu.png" alt="user-profile-picture" class="#">
              </div>
          </div>
          
          <div class="right">
          <div class="text">
              <p>Please send helgfaggfdagafdgdgadgdageagfadgp</p>
             
          </div>
             <div class="tags-container">
                  <span class="tags">Quiet</span>
                  <span class="tags">Introvert</span>
                  
                  <span class="tags">$400 - $600</span>
                  <span class="tags">Move-In: ASAP</span>
                  </div>
              </div> 
          </div>
      </div> <!--end card div-->
      </div> <!--end div container-->

      <div class="card"> <!--card 2-->
        <div class="card-header">
            My Name
        </div>
        <div class="card-body text-center">
            <div class="like-button">
                <button id="like-btn">
                     <img src="images/unliked-button.png" alt="Like" class="like-icon">
                     <div class="like-text">Like</div>
                   </button>
             </div>
        <div class="left">
            <div class="picture">
                <img src="images/eek.jpg" alt="user-profile-picture" class="#">
            </div>
        </div>
        
        <div class="right">
        <div class="text">
            <p>Hello Hello Hello Hello Hello</p>
           
        </div>
           <div class="tags-container">
                <span class="tags">Quiet</span>
                <span class="tags">Introvert</span>
                <span class="tags">Inside All Day</span>
                <span class="tags">Pet Friendly</span>
                <span class="tags">Very Clean</span>
                <span class="tags">$400 - $600</span>
                <span class="tags">Move-In: ASAP</span>
                </div>
            </div> 
        </div>
    </div> <!--end div card 2-->






      <div class="filterDiv orange colors fruits">Orange</div>
      <div class="filterDiv volvo cars">Volvo</div>
      <div class="filterDiv red colors">Red</div>
      <div class="filterDiv ford cars">Ford</div>
      <div class="filterDiv blue colors">Blue</div>
      <div class="filterDiv cat animals">Cat</div>
      <div class="filterDiv dog animals">Dog</div>
      <div class="filterDiv melon fruits">Melon</div>
      <div class="filterDiv kiwi fruits animals">Kiwi</div>
      <div class="filterDiv banana fruits">Banana</div>
      <div class="filterDiv lemon fruits">Lemon</div>
      <div class="filterDiv cow animals">Cow</div>

      <!-- End of Profiles-->
    </div>
    
    
    
    <script>
    filterSelection("all")
    function filterSelection(c) {
      var x, i;
      x = document.getElementsByClassName("filterDiv");
      if (c == "all") c = "";
      for (i = 0; i < x.length; i++) {
        w3RemoveClass(x[i], "show");
        if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
      }
    }
    
// Remove "active" class from all filter buttons
var filterButtons = document.querySelectorAll(".btn");
  for (i = 0; i < filterButtons.length; i++) {
    filterButtons[i].classList.remove("active");
  }
  
  // Add "active" class to the clicked filter button
  var clickedButton = document.querySelector(".btn[data-category='" + c + "']");
  if (clickedButton) {
    clickedButton.classList.add("active");
  }

    
    function w3AddClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
      }
    }
    
    function w3RemoveClass(element, name) {
      var i, arr1, arr2;
      arr1 = element.className.split(" ");
      arr2 = name.split(" ");
      for (i = 0; i < arr2.length; i++) {
        while (arr1.indexOf(arr2[i]) > -1) {
          arr1.splice(arr1.indexOf(arr2[i]), 1);     
        }
      }
      element.className = arr1.join(" ");
    }
    
    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function(){
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.classList.add("active");
      });
    }
    
      function toggleSubButtons(category) {
        var dropdownContent = document.getElementById(category);
        dropdownContent.classList.toggle("hide");
      }
    </script>
    







     <!-- Home Page Search Bar: -->

          <!--<div class="container">
            COMMENT::::::Select group with search bar and actual tags
            <div class="mb-3">
            <select class="form-select form-select-lg" data-placeholder="Click here to begin your search" id="select-field" multiple>
              <optgroup label="Noise:">
              <option value="quiet">Quiet</option>
              <option value="noisy">Noisy</option>
              <option value="mild-noise">Mild Noise</option>
              </optgroup>


              <optgroup label="Personality:">
                <option value="introvert">Introvert</option>
                <option value="extrovert">Extrovert</option>
                <option value="ambivert">Ambivert</option>
              </optgroup>
            
      
              <optgroup label="Most Time Spent:">
              <option value="outside">Outside The House</option>
              <option value="inside">Inside All Day</option>
              <option value="out-in">Outside&Inside Equally</option>
              </optgroup>


              <optgroup label="Pets:">
              <option value="pet-friendly">Pet Friendly</option>
              <option value="specific-pet">Specific Type Of Pet Only</option>
              <option value ="don't-touch">No Pets</option>
              </optgroup>


              <optgroup label="Sharing-Items:">
                <option value="share-care">Sharing Is Caring</option>
                <option value="ask-first">Ask first before I share</option>
                <option value ="don't-touch">Do not touch my stuff (please)</option>
              </optgroup>
      
              <optgroup label="Cleanliness:">
              <option value="clean">Very Clean (daily)</option>
              <option value="clean-occ">Clean Occasionally</option>
              <option value="don't-mind-a-mess">Doesn't Mind A Mess</option>
              </optgroup>

              <optgroup label="Having Guests Over:">
              <option value="frequent-guests">Frequent Guests</option>
              <option value="occasional-guests">Occasional Guests</option>
              <option value="no-guests">No guests</option>
              </optgroup>

      
              <optgroup label="Early Morning Bird or Night Owl:">
                <option value="early-mornings">Early Mornings</option>
                <option value="mid-day">Mid-Day</option>
                <option value="night-owl">Night Owl</option>
              </optgroup>
          
              <optgroup label="Bed Time:">
              <option value="9PM-10PM">9PM-10PM</option>
              <option value="10PM-12AM">10PM-12AM</option>
              <option value ="after-midnight">After Midnight</option>
              </optgroup>
      
              <optgroup label="Commute From UNT Campus:">
              <option value="20mins">Up To 20 Minutes</option>
              <option value="30mins">Up To 30 Minutes</option>
              <option value="40+mins">40+ Minutes</option>
              </optgroup>

              
              <optgroup label="Rent:">
              <option value="rent400">$400 - $600</option>
              <option value="rent600">$600 - $800</option>
              <option value="rent800">$800 - $1000</option>
              </optgroup>

              <optgroup label="Preferred Move-in Date:">
              <option value="asap">Move-In: ASAP</option>
              <option value="2-3months">Move-In: 2-3 Months</option>
              <option value="6months">Move-In: 6 Months - 1yr+</option>
              </optgroup>
            </select>
            COMMENT::::::::::Button for search submit
            <button class="btn btn-outline-secondary" type="button" id="user-tags-search-submit">Search</button>
            COMMENT::::::::::::Label for search bar
            <div id="search-label">
              <h1 id="search-bar-label-css">
              <label for="select-field">Find Your Eagle Match!</label>
              </h1>
              <h3 id="h3-search-bar-label">Find your perfect roommate with one simple search.</h3>
            </div>
            </div> COMMENT:::::::::::div for select
            </div>COMMENT::::::::div for select tag and label for search bar-->
        
     <!-- End of Home Page Search Bar -->

    <!--Home Page Footer:-->
  <footer class="footer text-lg-start">
    <div class="text-center p-3">
        <!--links in footer section-->
        <section class="">
            <div class= "row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
                    <a class="Terms link-dark" href="/about">About</a> 
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="Privacy Policy link-dark" href="/faq">FAQ</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="FAQ link-dark" href="/Terms">Terms and Conditions</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="contact-us link-dark" href="/contact">Contact Us</a>
                </div>
            </div>
        </section>
  </footer>





</body>
</html>
