<!doctype html>
<html lang="en">

<!-- Head Tag -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!--Script: Boostrap bundle including popper js-->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!--Settings page CSS-->
  <link rel="stylesheet" href="settings.css">


  <!--Title of page-->
  <title>Settings</title>
</head>

<!-- End of Head Tag-->


<!-- Body Code -->
<body>
  <!-- Header -->
  <header>
  <!--- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Eagle Match</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar Content-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Home Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>Home</a>
        </li>

        <!-- Profile Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>Eagle Profile</a>
        </li>

           <!-- Notifications Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/notifications"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
          </svg>Notification</a>
        </li>


        <!-- Settings Link-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
          </svg>Settings</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/settings">User Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/login">Logout</a></li>
          </ul>
        </li>
          
        <!-- End of Navbar Content-->
      </div>
    </div>
  </nav>
<!-- End of Navbar Code-->
</header>
<!-- End of Header -->

  <!-- Main Content of the Page-->
  <main>
  
  <body>


      <!--updated password alert-->
      <% if(typeof  updatedPasswordSuccess != 'undefined'){ %>
        <div class="alert alert-primary d-flex align-items-center" role="alert">
         <%= updatedPasswordSuccess %> 
       </div>
         <% } %> 

          <!--checking if the user typed in their unt email correctly for change password alert-->
         <% if(typeof  notUser != 'undefined'){ %>
          <div class="alert alert-danger d-flex align-items-center" role="alert">
           <%= notUser %> 
         </div>
           <% } %>
           

             <!--checks password length-->
             <% if(typeof  passwordLengthAlert != 'undefined'){ %>
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <%= passwordLengthAlert %> 
              </div>
            <% } %>
           
           
        

    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account Settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
              
                <div class="tab-body col-md-3 pt-0 custom-left-side">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">Edit Profile</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a> 

                          
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <div class="card-body media align-items-center">
                                <img src="images/Umaruu.png" alt
                                    class="d-block ui-w-80">
                                <div class="media-body ml-4">
                                    <label class="btn btn-outline-primary">
                                        Upload new photo
                                        <input type="file" class="account-settings-fileinput">
                                    </label> &nbsp;
                                    <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                    <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body">
                                
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" class="form-control" value="Alexis Matias">
                                </div>
                                
                                <div class="form-group">
                                    <label class="form-label">About Me:</label>
                                    <input type="text" class="form-control" value="Hello my name is Alexis. I like to play video games. Please be my roommate.">
                                </div>

                                <div class="form-group">
                                  <label class="form-label">Change Preferences:</label>
                                  <div class="card">
                                    <div class="card-header">
                                      What's your noise level like?
                                    </div>
                                    <div class="card-body text-center"> 
                                        <div class="buttons">
                                            <input type="radio" id="noise1" name="noise" value="quiet">
                                            <label for="noise1"><i class="fa-solid fa-volume-xmark"></i>Quiet</label>
                                          
                                            <input type="radio" id="noise2" name="noise" value="noisy">
                                            <label for="noise2"><i class="fa-solid fa-volume-low"></i> Noisy</label>
                                          
                                            <input type="radio" id="noise3" name="noise" value="both-noise">
                                            <label for="noise3"><i class="fa-solid fa-volume-off"></i> Both</label>
                        
                                            <input type="radio" id="noise4" name="noise" value="prefer-not-to-say">
                                            <label for="noise4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                                          </div>
                                        
                                    </div>
                                </div>
                        
                                <div class="card">
                                    <div class="card-header">
                                      What best describes your personality?
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="buttons">
                                            <input type="radio" id="personality1" name="personality" value="introvert" >
                                            <label for="personality1"> <i class="fa-solid fa-book-open-reader"></i>Introvert</label>
                                          
                                            <input type="radio" id="personality2" name="personality" value="extrovert">
                                            <label for="personality2"><i class="fa-solid fa-champagne-glasses"></i>Extrovert</label>
                                          
                                            <input type="radio" id="personality3" name="personality" value="both-personality">
                                            <label for="personality3"><i class="fa-solid fa-face-smile"></i>Mix of both</label>
                        
                                            <input type="radio" id="personality4" name="personality" value="prefer-not-to-say">
                                            <label for="personality4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                        
                                          </div>
                                    </div>
                                </div>
                        
                                
                        
                                <div class="card">
                                    <div class="card-header">
                                      Most time spent...
                                    </div>
                                    <div class="card-body text-center">
                                        <div class="buttons">
                                            <input type="radio" id="timespent1" name="timespent" value="outside-the-house" >
                                            <label for="timespent1"><i class="fa-solid fa-person-hiking"></i> Outside the house</label>
                                          
                                            <input type="radio" id="timespent2" name="timespent" value="inside-all-day">
                                            <label for="timespent2"><i class="fa-solid fa-house"></i>Inside all day</label>
                                          
                                            <input type="radio" id="timespent3" name="timespent" value="both-time-spent">
                                            <label for="timespent3"><i class="fa-solid fa-map"></i>Mix of both</label>
                        
                                            <input type="radio" id="timespent4" name="timespent" value="prefer-not-to-say">
                                            <label for="timespent4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                        
                                          </div>     
                                    </div>
                                </div>

                                <div class="card">
                                  <div class="card-header">
                                    Any Pets?
                                  </div>
                                  <div class="card-body text-center">
                                      <div class="buttons">
                                          <input type="radio" id="pets1" name="pets" value="pet-friendly" >
                                          <label for="pets1"><i class="fa-solid fa-paw"></i> Pet Friendly</label>
                      
                                          <input type="radio" id="pets2" name="pets" value="specific-pets" >
                                          <label for="pets2"><i class="fa-solid fa-bowl-food"></i> Specific types only</label>
                                              
                                          <input type="radio" id="pets3" name="pets" value="no-pets" >
                                          <label for="pets3"><i class="fa-solid fa-ban"></i> No Pets</label>
                      
                                          <input type="radio" id="pets4" name="pets" value="prefer-not-to-say">
                                          <label for="pets4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                      
                                        </div>
                                  </div>
                              </div>
                              
                      
                      
                              <div class="card">
                                  <div class="card-header">
                                    How do you feel about sharing?
                                  </div>
                                  <div class="card-body text-center">
                                      <div class="buttons">
                                          <input type="radio" id="shared1" name="shared" value="sharing" >
                                          <label for="shared1"> <i class="fa-solid fa-handshake"></i> "Sharing is caring"</label>
                      
                                          <input type="radio" id="shared2" name="shared" value="ask-to-share" >
                                          <label for="shared2"> <i class="fa-solid fa-question"></i> Just ask</label>
                                               
                                          <input type="radio" id="shared3" name="shared" value="no-shared-items" >
                                          <label for="shared3"><i class="fa-solid fa-ban"></i> Don't touch my stuff</label>
                      
                                          <input type="radio" id="shared4" name="shared" value="prefer-not-to-say">
                                          <label for="shared4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                      
                                      </div>
                                                    
                                  </div>
                              </div>
                      
                      
                              <div class="card">
                                  <div class="card-header">
                                    How clean are you?
                                  </div>
                                  <div class="card-body text-center">
                                      <div class="buttons">
                                          <input type="radio" id="clean1" name="clean" value="very-clean" >
                                          <label for="clean1"><i class="fa-solid fa-spray-can-sparkles"></i> Very Clean (daily)</label>
                                              
                                          <input type="radio" id="clean2" name="clean" value="clean-occasionally" >
                                          <label for="clean2"><i class="fa-solid fa-hand-sparkles"></i> Clean occasionally</label>
                                              
                                          <input type="radio" id="clean3" name="clean" value="messy" >
                                          <label for="clean3"> <i class="fa-solid fa-broom"></i> Doesn't mind a mess </label>
                      
                                          <input type="radio" id="clean4" name="clean" value="prefer-not-to-say">
                                          <label for="clean4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                      
                                      </div>
                                                     
                                  </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  How do you feel about having guests?
                                </div>
                                <div class="card-body text-center">
                                    <div class="buttons">
                                        <input type="radio" id="guests1" name="guests" value="frequent-guests" >
                                        <label for="guests1"><i class="fa-solid fa-people-group"></i> Frequent guests</label>
                                            
                                        <input type="radio" id="guests2" name="guests" value="occasionally-guests" >
                                        <label for="guests2"><i class="fa-solid fa-person"></i> occasionally guests </label>
                                            
                                        <input type="radio" id="guests3" name="guests" value="no-guests" >
                                        <label for="guests3"><i class="fa-solid fa-ban"></i> No guests</label>
                    
                                        <input type="radio" id="guests4" name="guests" value="prefer-not-to-say">
                                        <label for="guests4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                    
                                    </div>               
                                </div>
                            </div>
                    
                            <div class="card">
                                <div class="card-header">
                                  When does your day start?
                                </div>
                                <div class="card-body text-center">
                                    <div class="buttons">
                                        <input type="radio" id="schedule1" name="schedule" value="early-mornings" >
                                        <label for="schedule1"><i class="fa-solid fa-dove"></i> Early mornings</label>
                                            
                                        <input type="radio" id="schedule2" name="schedule" value="mid-days" >
                                        <label for="schedule2"><i class="fa-regular fa-sun"></i>Mid-Day</label>
                                            
                                        <input type="radio" id="schedule3" name="schedule" value="night-owl" >
                                        <label for="schedule3"><i class="fa-solid fa-moon"></i> Night owl</label>
                    
                                        <input type="radio" id="schedule4" name="schedule" value="prefer-not-to-say">
                                        <label for="schedule4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                    
                                    </div>
                                </div>
                            </div>
                    
                    
                    <div class="card">
                        <div class="card-header">
                          When do you sleep?
                        </div>
                        <div class="card-body text-center">
                            <div class="buttons">
                                <input type="radio" id="sleep1" name="sleep" value="9PM-10PM-Or-earlier" >
                                <label for="sleep1"><i class="fa-solid fa-bed"></i> 9PM-10PM (Or earlier)</label>
                                    
                                <input type="radio" id="sleep2" name="sleep" value="10PM-12AM" >
                                <label for="sleep2"><i class="fa-solid fa-mattress-pillow"></i>10PM-12AM</label>
                                    
                                <input type="radio" id="sleep3" name="sleep" value="After-Midnight" >
                                <label for="sleep3"><i class="fa-solid fa-bed-pulse"></i> After Midnight</label>
                    
                                <input type="radio" id="sleep4" name="sleep" value="prefer-not-to-say">
                                <label for="sleep4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                    
                            </div>
                        </div>
                    </div>

                    <div class="card">
                      <div class="card-header">
                        How much time are you willing to commute to UNT?
                      </div>
                      <div class="card-body text-center">
                          <div class="buttons">
                              <input type="radio" id="commute1" name="commute" value="20min" >
                              <label for="commute1"><i class="fa-solid fa-car"></i></i> Up to 20 minutes></label>
                                  
                              <input type="radio" id="commute2" name="commute" value="30min" >
                              <label for="commute2"><i class="fa-solid fa-car-side"></i> Up to 30 minutes</label>
                                  
                              <input type="radio" id="commute3" name="commute" value="40min" >
                              <label for="commute3"><i class="fa-solid fa-car-rear"></i> Up to 40 minutes or more</label>
                                    
                              <input type="radio" id="commute4" name="commute" value="prefer-not-to-say">
                              <label for="commute4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                          </div>          
                      </div>
                  </div>
                  
                  
                          <div class="card">
                              <div class="card-header">
                                What is your monthly budget?
                              </div>
                              <div class="card-body text-center">
                                  <div class="buttons">
                                      <input type="radio" id="rent1" name="rent" value="rent400" >
                                      <label for="rent1"><i class="fa-solid fa-hand-holding-dollar"></i> $400 - $600 (or lower)</label>
                                          
                                      <input type="radio" id="rent2" name="rent" value="rent600" >
                                      <label for="rent2"><i class="fa-solid fa-coins"></i> $600 - $800</label>
                                          
                                      <input type="radio" id="rent3" name="rent" value="rent800" >
                                      <label for="rent3"><i class="fa-solid fa-money-bills"></i> $800 - $1000+</label>
                                            
                                      <input type="radio" id="rent4" name="rent" value="prefer-not-to-say">
                                      <label for="rent4"><i class="fa-solid fa-circle-xmark"></i> Prefer not to say</label>
                                  </div>          
                              </div>
                          </div>
                  
                          <div class="card">
                              <div class="card-header">
                                When are you planning to rent/move?
                              </div>
                              <div class="card-body text-center">
                                  <div class="buttons">
                                      <input type="radio" id="move1" name="move" value="ASAP" >
                                      <label for="move1"><i class="fa-solid fa-house-circle-exclamation"></i> ASAP</label>
                                          
                                      <input type="radio" id="move2" name="move" value="2-3-months" >
                                      <label for="move2"><i class="fa-solid fa-triangle-exclamation"></i>2-3 Months</label>
                                          
                                      <input type="radio" id="move3" name="move" value="6-months" >
                                      <label for="move3"> <i class="fa-solid fa-circle-exclamation"></i> 6 Months</label>
                                            
                                      <input type="radio" id="move4" name="move" value="1-year" >
                                      <label for="move4"><i class="fa-solid fa-person-circle-exclamation"></i> 1 year</label>
                                  </div>              
                              </div>
                          </div>
                              </div> <!--form group div-->

                              
                            </div>
                        </div>
                       
                          <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">

                              <form id="changePasswordForm" action="/settings" method="post">
                              <div class="form-group">
                                <label class="form-label">UNT Student Email: </label>
                                <input type="text" name="email" id="email" placeholder="Please enter your UNT student email"  required autocomplete = "off" class="form-control">
                            </div>
                               <!-- <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter your current password" class="form-control">
                                </div> -->
                                <div class="form-group">
                                    <label class="form-label">New password: </label>
                                    <input type="password" id="newPassword" name="newPassword" placeholder="Enter your new password of minimum 8 characters" class="form-control">
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right mt-3">
      <button type="submit" id="saveSettingsChanges" class="btn btn-primary">Save changes</button>&nbsp;
      <button type="button" class="btn btn-default">Cancel</button>
  </div>
  </form>

                     
                      
               
  



    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">

    </script>



</main>
<!-- End of Main Content of the Page-->


  <!-- Footer-->
  <footer class="footer text-lg-start">
    <div class="text-center p-3" style="background-color:#c8d7b9">
        <!--links in footer section-->
        <section class="">
            <div class= "row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
                    <a class="Terms link-dark" href="/about">About</a> 
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="Privacy Policy link-dark" href="/faq">FAQ</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="FAQ link-dark" href="/terms">Terms and Conditions</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="contact-us link-dark" href="/contact">Contact Us</a>
                </div>
            </div>
        </section>
    </div>
  </footer>

<!-- End of Footer-->

</body>
<!-- End of Body-->


</html>
