<!doctype html>
<html lang="en">

<!-- Head Tag -->
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!--Script: Boostrap bundle including popper js-->
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!--Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!--PageName page CSS-->
  <link rel="stylesheet" href="terms.css">


  <!--Title of page-->
  <title>Terms and Conditions</title>
</head>

<!-- End of Head Tag-->


<!-- Body Code -->
<body>
  <!-- Header -->
  <header>
  <!--- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Eagle Match</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar Content-->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- Home Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg>Home</a>
        </li>

        <!-- Profile Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>Eagle Profile</a>
        </li>

           <!-- Notifications Link-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/notifications"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
          </svg>Notification</a>
        </li>


        <!-- Settings Link-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
            <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
            <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
          </svg>Settings</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/settings">User Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/login">Logout</a></li>
          </ul>
        </li>
          
        <!-- End of Navbar Content-->
      </div>
    </div>
  </nav>
<!-- End of Navbar Code-->
</header>
<!-- End of Header -->

  <!-- Main Content of the Page-->
  <main>
  <h1>Terms and Conditions</h1>

<!-- Terms and Conditions Div-->
<div>
  <!-- Effective by Date -->
  <h3 class="subheading1">
    Effective: October 16, 2023
  </h3>
<!-- Actual Contents-->
  <h4 class="subheading">Terms and Conditions of Use</h4>
    <p class="content">
      The terms and conditions are an agreement between you and Eagle Match (“we” , “us”) concerning your use of this website. 
      By accessing and using this service, you accept and agree to be bound by the terms and provision of this agreement. 
      In addition, when using this service, you shall be subject to any posted guidelines or rules applicable to such service. 
      Any participation in this service will constitute acceptance of this agreement. 
      If you do not agree to abide by the above, please do not use this service. 
    </p>

  <h4 class="subheading"> Privacy Policy</h4>
  <p class="content">
    Eagle Match collects only the information given to us by you. 
    This information consists only of your name, age, gender, personal descriptors, and your university email (.edu). 
    The use of your personal information may be used for purposes necessary for goods and services, communicated with you, or to verify your identity. 
    Eagle Match will not disclose any personal information to any third parties. 
    Other users will not be able to see your personal information, such as email or phone number unless you give them access to that information. 
    Messages between users will not be seen by any other users other than the intended users.
    
    You acknowledge that the security of online transactions you conduct using this website cannot be guaranteed. 
    Eagle Match does not accept responsibility for misuse of, or loss of, or unauthorized access to, your personal information 
    where the security of that information is not within Eagle Match’s control.
    
  </p>


  <h4 class="subheading"> Rules of Conduct </h4>
  <!-- Bulleted List Format-->
  <ul class="content">
    <li>
      You must be a University of North Texas (UNT) student to use this website. 
      By using this website, you represent that you are a UNT student.
    </li>
    <li>
      There will only be one account per user.
    </li>
    <li>
      The use of harassment, homophobia, sexually explicit or discrimination in any form will not be allowed.
    </li>
    <li>
      Condoning, promoting or participating in unlawful activity or violent conduct is prohibited.
    </li>
    <li>
      Spamming or advertising products or services is not allowed.
    </li>
    <li>
      Uploading viruses or malware is prohibited.
    </li>
    <li>
      Eagle Match is not intended for dating or seeking sexual/intimate relationships. 
      It is strictly for finding roommates.
    </li>
    <li>
      Posting sexual content is prohibited.
    </li>
    <li>
      Breaking these rules will result in termination of the account. 
      The developers of Eagle Match have the right to determine if you have violated these rules.
    </li>
  </ul> 


  <h4 class="subheading"> Limitations of Liability </h4>
  <p class="content">
    In no event shall Eagle Match and its employees be liable for any direct, indirect, incidental, special 
    or consequential damages or damages for loss of profits, revenue, 
    data or data use incurred by you or any third party. 
    We are not liable for any losses or damages of whatsoever kind that you suffer 
    or incur as a result of, or in any way in connection with, your dealings with Eagle Match.
  </p>

  <h4 class="subheading"> User Restrictions </h4>
  <p class="content">
    You may not use Eagle Match in a way that will breach our terms, that is misleading 
    or fraudulent or infringes someone else’s rights. 
    You may not upload viruses or malicious code. 
    You may not access or collect data or attempt to access 
    or collect data that you do not have permission to access.
  </p>

  <h4 class="subheading"> Accuracy Warning </h4>
  <p class="content">
    This site and its components are offered for informational purposes only; 
    this site shall not be responsible or liable for the 
    accuracy, usefulness or availability of any information transmitted 
    or made available via the site, and shall not be responsible or liable 
    for any error or omissions in that information.
  </p>

  <h4 class="subheading"> Content Removal and Right to Terminate Account </h4>
  <p class="content">
    Eagle Match has the right to remove any content or information you share if we believe that 
    it is in violation of our terms of use. We can refuse to provide 
    or stop providing any services to you. 
    Eagle Match will have the right to Terminate your account at our discretion. 
    If you believe your account has been wrongfully terminated, please contact us.
  </p>

  <h4 class="subheading"> Contact Details </h4>
  <p class="content">
    For any questions or concerns, contact us at: xxxxx@email.com or (555) 555-5555. 
    Please note that any personal information provided in communications by email 
    or telephone will not be used for promotional materials.
  </p>

  <h4 class="subheading"> Changes in Terms and Conditions </h4>
  <p class="content">
    Eagle Match reserves the right to change and update these Terms and Conditions at any time. 
    In an event of a change, users will be notified via email. 
    The effective date of change will be updated as well. 
  </p>





</div>

<!-- End of Terms and Conditions Section-->



</main>
<!-- End of Main Content of the Page-->


  <!-- Footer-->
  <footer class="footer text-lg-start">
    <div class="text-center p-3" style="background-color:#c8d7b9">
        <!--links in footer section-->
        <section class="">
            <div class= "row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0" >
                    <a class="Terms link-dark" href="/about">About</a> 
                </div>
    
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="Privacy Policy link-dark" href="/faq">FAQ</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="FAQ link-dark" href="/terms">Terms and Conditions</a>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <a class="contact-us link-dark" href="/contact">Contact Us</a>
                </div>
            </div>
        </section>
    </div>
  </footer>

<!-- End of Footer-->

<!-- Javascript Functionalities/Scripts -->
<!-- Light Dark Mode Toggle -->
<script>
  function myFunction() {
      let element = document.body;
      element.classList.toggle("dark");
    }
    </script>
  <!-- End of Light/Dark Mode-->
  
  <!-- End of Javascript Section -->

</body>
<!-- End of Body-->

</html>
