@import url(https://fonts.googleapis.com/css?family=Barlow:300,400,600);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body{
    background-color: #E0EDD4;
    display: flex;
    flex-direction: column;
    /* min-height: 100%; */
    font-family: Barlow, sans-serif;
    min-height: 400px;
  margin-bottom: 100px;
  clear: both;
    
}
#main {
  width: 100%; 
  display: grid; 
  grid-template-columns: repeat(auto-fill, 320px); 
  justify-content: center;
  gap: 20px;
  }

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: inline-block;
    min-height: 300px;
    min-width: 300px;
    margin-right: 10px;
    background-color: white;
    margin: 10px; /* Add spacing between cards */
    border: 1px solid #ccc;
   
}

.card-body{
    display: grid;
    grid-template-columns: repeat(n, 1fr);
    gap: 5px;
     
}
.card-header {
        color: #2E4214;
        background-color: #c8d7b9;
        text-align: center;
        font-weight: 900;
}
@media (max-width: 768px) {
  #main {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .card {
      flex: 0 0 calc(50% - 20px);
  }
}

h5 {
    height: 30px;
}
/* for header div */
.header-div{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px;
    top: 0;
    width: 100%;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*css for all radio buttons*/
.buttons input[type="radio"] {
  display: none;
}

.buttons label {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    position: relative;
    color: #394D23;
    margin-top: 20px;
    background-color: #c8d7b9;
    font-weight: 1000 ;
    font-size:15px;
   

}

.buttons input[type="radio"]:checked+label {
    background-color: #394D23;
    color: white;
  }

  /*submit button*/
  .submit-button {
    padding: 30px;
    text-align: center;
   margin-top: -40px;
    
  }
  input[type="submit"] {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    position: relative;
    color: #394D23;
    margin-top: 20px;
    background-color: aliceblue;
    font-weight: 1000 ;
    font-size:15px;
  }
  
  input[type="submit"]:hover {
  background-color: #394D23;
  color: white;
  }


  /*css to make the slider/carousel */
  /*
@media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  
  .container {
    max-width: 124rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
  }
  
  #tranding {
    padding: 4rem 0;
  }
  
  @media (max-width:1440px) {
    #tranding {
      padding: 7rem 0;
    }
  }
  
  #tranding .tranding-slider {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
  }
  
  @media (max-width:500px) {
    #tranding .tranding-slider {
      height: 45rem;
    }
  }
  
  .tranding-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  @media (max-width:500px) {
    .tranding-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .tranding-slide .tranding-slide-img img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .tranding-slide .tranding-slide-img img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .tranding-slide-content .food-price {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: var(--white);
  }
  
  .tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
  }
  
  .food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .rating ion-icon {
    color: var(--primary);
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tranding-slider-control .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .tranding-slider-control .slider-arrow::after {
    content: '';
  }
  
  .tranding-slider-control .swiper-pagination {
    position: relative;
    width: 15rem;
    bottom: 1rem;
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }
  */
